

<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form  autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
        <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
            Nombre
        </label>
            <div class="col-sm-9">
                <input class="form-control" 
                        type="text"
                        formControlName="nombre"
                        placeholder="Nombre de la persona">
                <span   class="form-text text-danger"
                        *ngIf="campoEsValido('nombre')">
                        Campo obligatorio
                </span>
            </div>
    </div>

            <!-- Agregar Favorito -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">
                    Agregar
                </label>
                    <div class="col-sm-9">

                        <div class="input-group mb-3">
                            <input  type="text" 
                                    class="form-control" 
                                    [formControl]="nuevoFavorito"
                                    placeholder="Juego favorito"
                                    (keyup.enter)="agregarFavorito()"
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" 
                                    type="button"
                                    id="button-addon2"
                                    (click)="agregarFavorito()">
                                    Agregar
                            </button>
                        </div>
                    </div>
            </div>

    <!-- Lista de Juegos fav. -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">
            Favoritos
        </label>
            <div class="col-sm-9" formArrayName="favoritos">
                <div class="input-group mb-3"
                    *ngFor="let favorito of favoritosArr.controls; let i = index">
                    <input class="form-control mb-1"
                            [formControlName]="i">
                    <button class="btn btn-outline-danger" 
                            type="button"
                            (click)="borrar(i)"
                            id="button-addon2">
                            X
                    </button>
                </div>
            </div>
    </div>

        

    <div class="row">
            <div class="col-sm-12">
              <button   type="submit"
                        (click)="guardar()"
                        class="btn btn-primary float-end">
                  Guardar
              </button>
            </div>
    </div>
</form>

<span>Valid</span>
    <pre>{{miFormulario.valid}}</pre>
    <br>

<span>Value</span>
    <pre>{{miFormulario.value | json}}</pre>
    <br>

    <span>Juego Nuevo</span>
    <pre>{{nuevoFavorito.value}}</pre>

<!-- <span>Persona</span>
<pre>{{persona | json}}</pre> -->
