<h2>Template: Switches</h2>
<hr>
<form #miFormulario="ngForm">
    <!-- Radios -->
<div class="row mb-3">
    <label class="col-sm-3 col-form-label">
        Género
    </label>
    <div class="col-sm-9">
        <div class="form-check mt-2">
            <input  class="form-check-input" 
                    type="radio" 
                    name="flexRadioDefault" 
                    value="M"
                    [(ngModel)]="persona.genero"
                    required
                    id="flexRadioDefault1">
            <label  class="form-check-label" 
                    for="flexRadioDefault1">
              Masculino
            </label>
        </div>
        <div class="form-check">
            <input  class="form-check-input" 
                    type="radio" 
                    name="flexRadioDefault" 
                    value="F"
                    [(ngModel)]="persona.genero"
                    id="flexRadioDefault2" 
                    required
                    checked>
            <label  class="form-check-label" 
                    for="flexRadioDefault2">
              Femenino
            </label>
        </div>
    </div>
</div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            Notificaciones
        </label>
        <div class="col-sm-9 mt-2">
            <div class="form-check form-switch">
                <input  class="form-check-input" 
                        type="checkbox" 
                        role="switch" 
                        [(ngModel)]="persona.notif"
                        name="notif"
                        id="flexSwitchCheckChecked" 
                        checked>
                <label  class="form-check-label" 
                        for="flexSwitchCheckChecked">
                        Recibir notificaciones
                </label>
              </div>
        </div>
    </div>

     <!-- Checks -->
     <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
           
        </label>
        <div class="col-sm-9">
            
            <div class="form-check">
                <input  class="form-check-input" 
                        type="checkbox" 
                        value="" 
                        [(ngModel)]="terminos"
                        name="terminos"
                        id="flexCheckChecked" 
                        checked
                        required>
                <label  class="form-check-label" 
                        for="flexCheckChecked">
                        Terminos y condiciones
                </label>
              </div>
        </div>
     </div>
     <div class="row">
         <div class="col">
             <button class="btn btn-primary float-end"
                    [disabled]="miFormulario.invalid">
                 Guardar
             </button>
         </div>
     </div>
</form>

<h5>Valor del Form</h5>
<span>
    <pre>
        {{miFormulario.value | json}}
    </pre>
    <br>
    <h5>Valid</h5>
    <pre>
        {{miFormulario.valid | json}}
    </pre>
    <br>
    <pre>Condiciones: </pre>
</span>
